@import "tailwindcss";

@layer base {
  :root {
    --primary: #059669;
    --primary-dark: #064e3b;
    --primary-light: #10b981;
    --gold: #d97706;
    --gold-light: #f59e0b;
    --gold-bg: #fef3c7;
  }
}

.bg-pattern {
  background-color: #064e3b;
  background-image: 
    radial-gradient(#10b981 0.75px, transparent 0.75px), 
    radial-gradient(#10b981 0.75px, #064e3b 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
